$bg-color: #141414
$warning-color: #9A0000
$title-color: #EEE
$title-shadow-color: #333
$card-bg-color: #FFF
$card-shadow-color: #B3B1B1
$notice-bg-color: rgba(51, 51, 51, 0.7)
$notice-title-color: #FFF
$notice-font-color: #DDD
