<div class="container">
  <h1> Web Set Game </h2>
  <div class="board">
    <div class="deck">
    </div>
    <div class="face-up-cards" data-id="board-cards">
      <div class="card" data-id="face-up" data-num="1">
      </div>
      <div class="card" data-id="face-up" data-num="2">
      </div>
      <div class="card" data-id="face-up" data-num="3">
      </div>
      <div class="card" data-id="face-up" data-num="4">
      </div>
      <div class="card" data-id="face-up" data-num="5">
      </div>
      <div class="card" data-id="face-up" data-num="6">
      </div>
      <div class="card" data-id="face-up" data-num="7">
      </div>
      <div class="card" data-id="face-up" data-num="8">
      </div>
      <div class="card" data-id="face-up" data-num="9">
      </div>
      <div class="card" data-id="face-up" data-num="10">
      </div>
      <div class="card" data-id="face-up" data-num="11">
      </div>
      <div class="card" data-id="face-up" data-num="12">
      </div>
    </div>
    <div class="dead-cards" data-id="dis-card">
    </div>
    <div class="notice" data-id="notice">
      <h1 id="title" data-id="title"></h1>
      <h2 id="message" data-id="message"></h2>
    </div>
  </div>
</div>
