<div class="container">
  <div class="warning">
    <h4 class="bg-danger"> Sorry, This game only plays on screens wider than 1024px </h4>
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  </div>
  <h1 class="title"> Web Set Game </h2>
  <div class="board">
    <div class="face-up-cards" data-id="board-cards">
    </div>
  </div>
  <div class="dead-cards">
    <div class="dead-card-one" data-id="dis-card-one">
      <h4> Player 1<br>Sets Found </h4>
    </div>
    <div class="dead-card-two" data-id="dis-card-two">
      <h4> Player 2<br>Sets Found </h4>
    </div>
  </div>
  <div class="notice" data-id="notice">
    <h1 id="title" data-id="title"></h1>
    <h2 id="message" data-id="message"></h2>
    <button type='button' class='btn btn-default btn-lg btn-block' data-id='restart-game'>
      <span class='glyphicon glyphicon-repeat' aria-hidden='true'></span>
      Play Again
    </button>
  </div>
</div>
