<!DOCTYPE HTML>
<html>
  <head>
    <title> Sets </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dest/stylesheets/application.css">
  </head>
  <body>
    <%= yield %>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script
       src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="dest/scripts/ui.js"></script>
  <script src="dest/scripts/application.js"></script>
</html>
