@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url(https://fonts.googleapis.com/css?family=Sarpanch:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
body {
  font-family: "Open Sans", sans-serif;
  background-color: #141414;
  text-align: center; }
  @media only screen and (max-width: 1023px) {
    body {
      background: none; } }

p {
  margin: 0 0 5px; }

@media (min-width: 1200px) {
  .container {
    width: 95%; } }

.warning {
  display: none; }
  @media only screen and (max-width: 1023px) {
    .warning {
      display: block; } }

.bg-danger {
  color: #9A0000;
  font-family: "Verdana";
  line-height: 2;
  padding: 15px;
  margin: 30px auto; }

.glyphicon-warning-sign {
  color: #9A0000;
  font-size: 250px;
  padding: 30px; }

.title {
  color: #EEE;
  font-family: "Sarpanch", sans-serif;
  font-weight: 900;
  text-shadow: 3px 3px 3px #333; }
  @media only screen and (max-width: 1023px) {
    .title {
      display: none; } }

.board {
  display: inline-block;
  margin: 30px auto;
  max-width: 650px; }
  @media only screen and (max-width: 1023px) {
    .board {
      display: none; } }
  @media only screen and (min-width: 1400px) {
    .board {
      max-width: 1000px; } }

.cards, .face-up-cards .card {
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #B3B1B1;
  height: 150px;
  padding: 10px;
  width: 100px; }
  @media only screen and (min-width: 1400px) {
    .cards, .face-up-cards .card {
      height: 180px;
      width: 120px; } }

.face-up-cards .card {
  display: inline-block;
  margin: 10px 20px; }
  .face-up-cards .card:hover {
    cursor: pointer; }

.dead-cards {
  display: inline; }

.dead-card, .dead-card-one, .dead-card-two {
  background: #FFF;
  border-radius: 5px;
  height: 700px;
  margin: 30px 0;
  width: 140px; }
  @media only screen and (max-width: 1023px) {
    .dead-card, .dead-card-one, .dead-card-two {
      display: none; } }
  .dead-card-one {
    float: left; }
  .dead-card-two {
    float: right; }
  .dead-card h4, .dead-card-one h4, .dead-card-two h4 {
    font-family: "Sarpanch", sans-serif;
    font-weight: 800;
    line-height: 1.5;
    padding: 5px 0;
    text-decoration: underline; }
  .dead-card p, .dead-card-one p, .dead-card-two p {
    font-size: 1.1em;
    font-weight: 500; }

#turn-notice {
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 10px;
  display: none;
  color: #1C0113;
  font-size: 4em;
  font-weight: 800;
  margin: 0 auto;
  padding: 30px;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  width: 650px; }
  @media only screen and (min-width: 1400px) {
    #turn-notice {
      width: 1000px; } }

.notice {
  background-color: rgba(51, 51, 51, 0.7);
  display: none;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 650px; }
  @media only screen and (min-width: 1400px) {
    .notice {
      width: 1000px; } }
  .notice #title {
    color: #FFF;
    font-family: "Sarpanch", sans-serif;
    font-size: 6em;
    margin-top: 25px; }
  .notice #message {
    color: #DDD;
    font-size: 4em; }

.btn-lg {
  display: none;
  font-size: 30px;
  font-weight: 800; }

/*# sourceMappingURL=application.css.map */
