body
  font-family: 'Sarpanch', sans-serif
  background-color: $bg-color
  text-align: center

  @media only screen and (max-width: 1023px)
    background: none

p
  margin: 0 0 5px

.container
  @media (min-width: 1200px)
    width: 95%

.warning
  display: none

  @media only screen and (max-width: 1023px)
    display: block

.bg-danger
  color: $warning-color
  font-family: "Verdana"
  line-height: 2
  padding: 15px
  margin: 30px auto

.glyphicon-warning-sign
  color: $warning-color
  font-size: 250px
  padding: 30px


.title
  color: $title-color
  font-weight: 900
  text-shadow: 3px 3px 3px $title-shadow-color

  @media only screen and (max-width: 1023px)
    display: none

.board
  display: inline-block
  margin: 30px auto
  max-width: 650px

  @media only screen and (max-width: 1023px)
    display: none

  @media only screen and (min-width: 1400px)
    max-width: 1000px

.cards
  background-color: $card-bg-color
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  border-radius: 10px
  box-shadow: 5px 5px 4px $card-shadow-color
  height: 150px
  padding: 10px
  width: 100px

  @media only screen and (min-width: 1400px)
    height: 180px
    width: 120px

.face-up-cards
  .card
    @extend .cards
    display: inline-block
    margin: 10px 20px

    &:hover
      cursor: pointer

.dead-cards
  display: inline

.dead-card
  background: $dead-card-bg-color
  border-radius: 5px
  height: 550px
  margin: 30px 0
  width: 140px

  @media only screen and (max-width: 1023px)
    display: none

  &-one
    @extend .dead-card
    float: left

  &-two
    @extend .dead-card
    float: right

  h4
    font-weight: 800
    line-height: 1.5
    padding: 5px 0
    text-decoration: underline

  p
    font-size: 1.1em
    font-weight: 500

#turn-notice
  background-color: $turn-notice-bg-color
  border-radius: 10px
  display: none
  color: $turn-notice-font-color
  font-size: 4.0em
  font-weight: 800
  margin: 0 auto
  padding: 30px
  position: absolute
  top: 100px
  right: 0
  left: 0
  width: 650px

  @media only screen and (min-width: 1400px)
    width: 1000px

.notice
  background-color: $notice-bg-color
  display: none
  height: 550px
  margin: 0 auto
  position: absolute
  top: 100px
  left: 0
  right: 0
  width: 650px

  @media only screen and (min-width: 1400px)
    width: 1000px

  #title
    color: $notice-title-color
    font-size: 6em
    margin-top: 25px

  #message
    color: $notice-font-color
    font-size: 4em

.btn-lg
  display: none
  font-size: 30px
  font-weight: 800
